body{
display: flex;
box-sizing: border-box;
position: absolute;
margin: 0;
padding: 0;
width: 100%;
height: 100%;
justify-content: center;
align-items: baseline;
}

form{
width: 220px;
display: flex;
flex-direction: column;
border: 1px solid black;
}

input{
height: 20px;
}

.correct{
border: 1px solid green;
color: green;
}

.error{
border: 1px solid red;
color: red;
}